@import url('https://fonts.googleapis.com/css?family=Aldrich|Russo+One|Source+Code+Pro');

* {
  box-sizing: border-box;
}
/* Board */
.board-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0.8rem;
}
.board {
  display: flex;
  flex-flow: column nowrap;
}
.board-description {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.description {
  flex: 48% 0 1;
  margin: 0.6rem 0.6rem 0.6rem 0;
  padding: 0.3rem;

  background-color: #eeeeee;
}
.description h1 {
  font-size: 1.4rem;
  margin: 0 0 0.3rem 0;
}
.description p {
  margin: 0.2rem 0;
}

/* Panel */
.panel-container {
  display: flex;
  flex-flow: column nowrap;
  touch-action: none;
}
.panel-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

/* Remains */
.remains-wrapper {
  flex: 48% 0 1;
  margin: 0.6rem 0 0.6rem 0.6rem;
  padding: 0.3rem;
  background-color: #bbeeff;
  border: 1px solid transparent;

  touch-action: none;
}
.remains-wrapper p {
  margin: 0.2rem 0;
}
.remains-wrapper.remains-move-to {
  border: 1px solid blue;
}
.remains {
  display: flex;
  flex-flow: row wrap;
}
.remains-tile {
  margin: 4px;
}

/* Tile */
.tile {
  width: 48px;
  height: 48px;
  border: 1px solid #cccccc;

  font-family: 'Aldrich', sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  line-height: 56px;

  text-shadow:
    0 2px 0 #ffffff,
    2px 0 0 #ffffff,
    0 -2px 0 #ffffff,
    -2px 0 0 #ffffff,
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    2px 2px 0 #ffffff;
}
.tile-blank {
  background-color: #ffffe8;
}
.tile-number {
  background-color: #ffcccc;
}
.tile-op {
  background-color: #777777;
}
.tile-number.tile-remains {
  background-color: #99b5ff;
}
.tile-op.tile-remains {
  background-color: #440088;

}
.tile-op[data-op="+"] {
  color: #5588ff;
}
.tile-op[data-op="-"] {
  color: #ff4444;
}
.tile-op[data-op="*"] {
  color: #229922;
}
.tile-op[data-op="/"] {
  color: #f0a422;
}
.tile-eq {
  background-color: #ffffff;
}

.remains .tile{
  border-color: black;
  border-radius: 3px;
}

.tile.tile-move-to {
  border-color: #0000ff;
}
.tile.tile-move-from {
  border-color: #ff0000;
}

/* Edit */
.edit-wrapper {
  background-color: #eeffee;
}
.edit-start-button {
  font-size: 1.6rem;
  border: 1px solid #228822;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;

  cursor: pointer;
}
.textedit-wrapper textarea{
  width: 100%;
  height: 9rem;
  margin: 8px;

  font-family: 'Source Code Pro', monospace;
  font-size: 1.3rem;
  ime-mode: disabled;
}
